#puzzle-list-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#puzzle-list-screen > div {
  display: flex;
  gap: 10px;
}

.puzzle-app {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}
